<div>
    <link rel="stylesheet" href="../css/validation.css">
    <a ng-click="displayAdvancedFilteringDialog()" class="displayAdvancedFilterLink">Advanced</a>
    <div class="clearfix modal hide" tabindex="-1" role="dialog" id="advancedFilteringDialog">
        <div class="modal-holder">
            <div class="modal-frame">
                <div class="modal-header">
                    <h3>Advanced Filter</h3>
                </div>

                <div class="modal-body">
                    <div class="dialog-container">
                        <div class="set-value-holder grid-col-4-holder">
                            <div class="clearfix with-labels" ng-class="{'first-row': tempComposedFilter.predicates.length==1}" ng-repeat="filterPredicateRow in tempComposedFilter.predicates">
                                <div class="control-group col-4-1">
                                    <label class="control-label" ng-show="$first">Filter</label>
                                    <select ui-select2="{minimumResultsForSearch: 5}"
                                            class="dialog-select"
                                            ng-model="filterPredicateRow.prop">
                                        <option ng-repeat="field in configuration.fields"
                                                value="{{field.prop}}">
                                            {{field.title}}
                                        </option>
                                    </select>
                                </div>
                                <div class="control-group col-4-2">
                                    <label class="control-label" ng-show="$first">Match if</label>
                                    <select ui-select2="{minimumResultsForSearch: 5}"
                                            class="dialog-select"
                                            ng-model="filterPredicateRow.operator" title="Operator">
                                        <option
                                                ng-repeat="operator in getOperatorsByField(filterPredicateRow.prop)"
                                                value="{{operator.prop}}">
                                            {{operator.title}}
                                        </option>
                                    </select>
                                </div>
                                <div class="control-group col-4-3 short-input" ng-class="getClassForPredicateValue(filterPredicateRow.operator)">
                                    <label class="control-label" ng-show="$first">Value</label>
                                    <input type="text" ng-model="filterPredicateRow.value" class="filter-input" title="Value"/>
                                    <textarea ng-model="filterPredicateRow.value" class="filter-input" title="Value" style="width: 88%;resize: none;"></textarea>
                                </div>
                                <!--<div class="control-group col-4-4" ng-class="{'span': $first, 'span2':!$first }">-->
                                <div class="control-group col-4-4" ng-class="{'advancedFilterFirstRowButtons':$first}">
                                    <div class="control-group " ng-show="$last">
                                        <button class="btn secondary-action " ng-click="addEmptyRow()" ng-disabled="getValidationErrorMessage()">Add</button>
                                    </div>
                                    <div class="control-group conjunctionSelectionHolder pull-left" ng-show="tempComposedFilter.predicates.length!=1 && !$last">
                                        <select ui-select2="{minimumResultsForSearch: 5}"
                                                class="dialog-select"
                                                ng-model="tempComposedFilter.conjunction" title="And/Or">
                                            <option value="true">And</option>
                                            <option value="false">Or</option>
                                        </select>
                                    </div>
                                    <a class="close-row" ng-click="removeRow($index)" ng-show="tempComposedFilter.predicates.length!=1"></a>
                                </div>
                            </div>
                        </div>
                        <div style="height: 6px">
                            <div class="errorParamsMessage ellipsize ng-binding" ng-show="getValidationErrorMessage() && shouldDisplayValidationMessage()" title="{{ getValidationErrorMessage()}}"><i class="icon warning-uploads"></i> {{ getValidationErrorMessage()}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-reset secondary-action" aria-hidden="true"
                            ng-click="resetChanges()">
                        Reset
                    </button>
                    <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                            ng-click="cancelChanges()">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-primary main-action" ng-click="confirmation.ok()" ng-disabled="getValidationErrorMessage() && shouldDisplayValidationMessage()">Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
