<label class="control-label optional is-hide" for="description">
    <span ng-show="existingAttachments.length > 0">{{existingAttachments.length}}&nbsp;</span><span ng-bind="attachmentOptions.attachmentType"></span><span ng-show="existingAttachments.length != 1">s</span>&nbsp;
    <small class="optional-string" ng-hide="attachmentsReadOnly">(optional)</small>
    <small class="drag-n-drop-small" ng-show="existingAttachments.length > 0 && !attachmentsReadOnly">&mdash; Drag&nbsp;&amp;&nbsp;drop files to dialog (maximum file size is {{maxSizeInBytes | fileSize}})</small>
    <!--<span ng-show="existingAttachments.length == 0 && attachmentsReadOnly">&mdash; No attachments</span>-->
</label>

<div class="attachments-holder" ng-switch="attachmentsReadOnly">
    <div class="unsupported-files-alert-container">
        <ul class="unsupported-files-alert">
            <li class="alert single-alert" ng-repeat="alert in alerts">{{alert}}</li>
        </ul>
    </div>
    <div>
        <a ng-click="downloadAll()" ng-show="existingAttachments.length > 0"><span class="attachments-download-all">Download All Attachments </span></a>
        <a ng-click="show = !show" ng-show="existingAttachments.length > 4"><span
                class="attachments-show-all">Show All</span></a>
        <!--Not Empty Attachments-->
        <ul class="attacmments-list" ng-show="existingAttachments.length > 0 && existingAttachments.length < 5 || show">

            <li ng-repeat="attachment in existingAttachments" class="attachment-item {{attachment.ext.substr(1)}}">
                <span class="attachment-type" ng-bind="attachment.type"></span>
                <span class="name ellipsize" ng-bind="attachment.name"></span>
                <span class="size" ng-bind="attachment.size | fileSize"></span>
                <span class="attachment-action">
                    <a ng-click="downloadAttachment(attachment.attachmentId)">
                        <i class="icon download-attach" title="Download file"></i>
                    </a>
                    <span ng-hide="attachmentsReadOnly">
                        <i class="attach-action-sep"></i>
                        <a ng-click="removeExistingAttachment(attachment.attachmentId)">
                            <i class="icon delete-attach" title="Remove attachment"></i>
                        </a>
                    </span>
                </span>
            </li>
        </ul>
    </div>

    <!-- no attachments in readonly mode -->
    <div ng-switch-when="true">
        <div class="empty-attachments" ng-show="existingAttachments.length == 0 && uploadingAttachments == 0">
            <div class="center-text">
                <span>No Attachments</span>
            </div>
        </div>
    </div>

    <div ng-switch-when="false">
        <!--Uploading Table-->
        <div class="scrollable-container" ng-show="uploadingAttachments.length > 0">
            <table class="table uploading-files table-striped">
                <colgroup>
                    <col class="file-name">
                    <col>
                </colgroup>
                <tbody>
                <!--Uploading Item-->
                <tr ng-repeat="attachment in uploadingAttachments"
                    ng-class="attachment.isUploading && 'uploading-file' || 'queue-item'">
                    <td>
                        <span class="filename ellipsize" ng-bind="attachment.name"></span>
                        <span class="current-state-info-min" ng-show="!attachment.isUploading">{{attachment.size | fileSize}}</span>
                        <!-- Progress bar-->
                        <div class="progress-bar active" ng-show="attachment.isUploading">
                            <div ng-style="{width: attachment.uploadProgress + '%'}" class="done-strip"></div>
                        </div>
                        <!-- State Info -->
                        <span class="current-state-info" ng-show="attachment.isUploading">{{attachment.uploadedSize | fileSize}} of {{attachment.size | fileSize}} ({{attachment.uploadSpeed | fileSize}}/s) &nbsp;&nbsp;&nbsp;{{attachment.remainingTime}}&nbsp;remaining</span>


                    </td>
                    <td>
                        <!-- Operations -->
                        <a ng-click="removeUploadingAttachment($index, attachment)" class="icon delete-attach"
                           title="Remove item from the list"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--Empty Attachments-->
        <div class="empty-attachments" ng-show="existingAttachments.length == 0 && uploadingAttachments == 0">
            <div class="center-text">
                <i class="icon drop-here-small"></i>
                <span>Drag&nbsp;&amp;&nbsp;drop files to dialog (maximum file size is {{maxSizeInBytes | fileSize}})</span>
            </div>
        </div>
    </div>

</div>