<div class="modal-holder">
    <style>
        .retranslate-btn-group{
            display: inline-block;
            width: 200px;
        }
        .dms-error-message{
            margin-top: 0;
        }
    </style>
    <div class="modal-frame">
        <div class="modal-header">
            <a class='close' data-dismiss='modal'>&nbsp;</a>

            <h3><span ng-bind="processingRunId"></span>: <span ng-bind="searchDetails.name"></span> Processing Details</h3>
        </div>
        <div class="modal-body">
            <ul id="detailsTabs" class="nav nav-tabs">
                <li class="active">
                    <a data-target="#general" data-toggle="tab" ng-click="processingExecutionTab = false">General</a>
                </li>
                <li>
                    <a data-target="#processingExecution" data-toggle="tab" ng-click="processingExecutionTab = true">Processing Execution</a>
                </li>
            </ul>
            <div id="detailsTabsContent" class=" processingRunDetails control-group clearfix tab-content">
                <div class="tab-pane fade active in" id="general">
                    <div class="step-4">
                        <div class="option-row clearfix">
                            <table class="table read-only compressed">
                                <colgroup>
                                    <col class="prop-name">
                                    <col class="prop-value">
                                </colgroup>
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td><label>Name</label></td>
                                    <td><span class="ellipsize" ng-bind="searchDetails.name" set-title="searchDetails.name"></span></td>
                                </tr>
                                <tr ng-show="database">
                                    <td><label>Database</label></td>
                                    <td><span class="ellipsize" ng-bind="database.name" set-title="database.name"></span></td>
                                </tr>
                                <tr>
                                    <td><label>Status</label></td>
                                    <td class="">
                                        <span ng-show="searchDetails.status != 'Failed'" class="ellipsize">{{searchDetails.status}}</span>
                                        <span ng-show="searchDetails.status == 'Failed'"  >
                                            <span class="ellipsize" title="{{searchDetails.message}}">Failed: {{searchDetails.message}}</span>
                                            <button class="btn secondary-action reportFailedSearchButton" data-dismiss="modal"
                                                    ng-click="invokeReportIssueDialog()">Report
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Files</label></td>
                                    <td>
                                        <span ng-bind="searchDetails.filesCount"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Description</label></td>
                                    <td><span ng-bind="searchDetails.description"></span></td>
                                </tr>
                                <tr>
                                    <td><label>Processing Type</label></td>
                                    <td><span ng-bind="searchDetails.workflow.name"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="processingExecution">
                    <div class="pipe-line-holder">
                        <div class="item generalWorkflowExecutionView pipe-line">
                        <span class="step-item" ng-repeat="step in workflowSteps" ng-class="{passed: step.status=='Completed', inProgress: step.status=='In progress',
                    notStarted:step.status=='Not started', failed: step.status=='Failed' || step.status=='Cancelled', active: selectedStep.id == step.id}" ng-click="selectStep(step)"
                              set-title="step.name">
                            {{step.firstPartName}}<br/>{{step.secondPartName}}
                        </span>
                        </div>
                    </div>
                    <div class="item selectedStep" ng-show="selectedStep!=null">
                        <table class="table read-only compressed">
                            <colgroup>
                                <col class="prop-name">
                                <col class="prop-value">
                            </colgroup>
                            <thead>

                            </thead>
                            <tbody>
                            <tr>
                                <td><label>Description</label></td>
                                <td><span ng-bind="selectedStep.description" class="ellipsize" title="{{selectedStep.description}}"></span></td>
                            </tr>
                            <tr>
                                <td><label>Status</label></td>
                                <td>
                                    <span ng-show="selectedStep.status=='Failed'">
                                        <span title="{{currentWorkflowStatusMessage}}" class="ellipsize"
                                              style="width:190px">{{currentWorkflowStatusMessage}}</span>
                                    </span>
                                    <span ng-hide="selectedStep.status=='Failed'"
                                          ng-bind="selectedStep.status"></span>

                                </td>
                            </tr>
                            <tr>
                                <td><label>Queue</label></td>
                                <td><span ng-bind="selectedStep.queue.name" class="ellipsize" title="{{selectedStep.queue.name}}"></span></td>
                            </tr>
                            <tr ng-show="selectedStep.status=='In progress'">
                                <td><label>Tasks left:</label></td>
                                <td><span ng-bind="selectedStep.queue.totalTasksToDo - selectedStep.queue.completedNumberOfTasks"></span></td>
                            </tr>
                            <tr ng-show="selectedStep.status=='In progress'">
                                <td><label>Tasks completed:</label></td>
                                <td><span ng-bind="selectedStep.queue.completedNumberOfTasks"></span></td>
                            </tr>
                            <tr ng-show="selectedStep.status=='Completed'" title="Pure task(s) execution duration(in min), without waiting in queue">
                                <td><label>Pure execution duration:</label></td>
                                <td><span ng-bind="selectedStep.statistic.pureTaskExecutionDurationInMin"></span></td>
                            </tr>
                            <tr title="Execution duration for one task(in min):" ng-show="selectedStep.status=='Completed' && selectedStep.queue.totalTasksToDo > 0 && selectedStep.statistic.pureTaskExecutionDurationInMin>0" >
                                <td><label>One task duration</label></td>
                                <td><span ng-bind="calculatePerTaskDuration()"></span></td>
                            </tr>

                            <tr ng-show="selectedStep.status=='Completed'">
                                <td><label>Total duration(in min):</label></td>
                                <td><span ng-bind="selectedStep.statistic.totalDurationInMin"></span></td>
                            </tr>

                            <tr ng-show="selectedStep.status=='In progress' && selectedStep.queue.totalTasksToDo > 0">
                                <td><label>Estimate to end this workflow step(in min):</label></td>
                                <td><span ng-bind="calculateEstimateToEndWorkflowStep()"></span></td>
                            </tr>
                            <tr ng-show="selectedStep.status=='In progress'">
                                <td><label>Available workers:</label></td>
                                <td><span title="Displays number of workers which are up and could process this task. It takes time to run workers and its status is changed according to it"
                                          ng-bind="selectedStep.queue.availableWorkers"></span></td>
                            </tr>
                            <tr ng-show="workflowParamsMap[selectedStep.id]">
                                <td colspan="2">
                                    <h4>Processing Step Parameters</h4>
                                    <div class="limit-table">
                                        <table class="table table-hover factor-table">
                                            <thead>
                                            <tr>
                                                <th sorting="name" sort-by-default="asc">Param</th>
                                                <th sorting="value">Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="param in workflowParamsMap[selectedStep.id] | orderBy:sorting.field:sorting.reverse">
                                                <td ng-bind="param.name" class="ellipsize width450"></td>
                                                <td ng-bind="param.value" class="width130"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="inline-footer reRunButtons">
            <div class="errorParamsMessage ellipsize dms-error-message" ng-show="isDMSInvalid()" title="It is impossible to create the same run now because used files have different mz grids.">
                <i class="icon warning-uploads"></i>Used raw files have different mzGrid.</div>

            <button ng-show="stopSearchActionIsAvailable()" class="btn secondary-action"
                    ng-click="stopSearch()">Stop Workflow Execution<span class="right-tail"></span></button>
            <div ng-show="displayReRunFromStep()" class="control-group retranslate-btn-group">
                <label ng-show="displayReRunFromStep() && selectedStep.queue.totalTasksToDo > 1 && selectedStep.status!='Completed'" class="reRunCheckBoxHolder">
                    <input style="    margin-top: -3px; margin-right: 5px;"
                           ng-model="runOnlyNotComplete" type="checkbox" title="Re-Run only failed tasks"  />Re-Run only failed tasks
                </label>
                <button class="btn secondary-action"
                        ng-click="reRunProteinSearch(selectedStep)">Re-run from this step<span class="right-tail"></span></button>
            </div>


            <button class="btn secondary-action closeButton" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>
