<div class="relative">
    <div class="dashboard-box translation-box" resizable-table-columns="per-file-translations-list">
        <div class="heading clearfix">
            <div class="cell cell-check width32"><input type="checkbox" ng-model="allItemsSelected" ng-click="selectAll(allItemsSelected, fileTranslations)"/></div>
            <div class="cell width23p">File Name</div>
            <div class="cell cell-owner width10p">Owner</div>
            <div class="cell cell-lab width10p">Lab</div>
            <div class="cell cell-instrument width10p">Instrument</div>
            <div class="cell width10p">In Exp?</div>
            <div class="cell cell-status width10p">Translation Status</div>
        </div>
        <div class="content clearfix">
            <div class="row clearfix" ng-repeat="ft in fileTranslations">
                <div class="cell cell-check width32"><input type="checkbox" ng-model="ft.selected" ng-disabled="ft.status == 'In Progress...'"/></div>
                <div class="cell width23p">
                    <div class="ellipsize" set-text="ft.name" set-title="ft.name"></div>
                </div>
                <div class="cell cell-owner width10p">
                    <div class="ellipsize" set-text="ft.owner" set-title="'Owner: ' + ft.owner"></div>
                </div>
                <div class="cell cell-lab width10p">
                    <div class="ellipsize" set-text="ft.labName" set-title="ft.labName"></div>
                </div>
                <div class="cell cell-instrument width10p ">
                    <div class="ellipsize" set-text="ft.instrumentName" set-title="ft.instrumentName"></div>
                </div>
                <div class="cell width10p">
                    <div class="ellipsize" set-text="ft.usedInExperiment" set-title="ft.usedInExperiment"></div>
                </div>
                <div class="cell cell-status width10p">
                    <div class="ellipsize" set-text="ft.status" set-title="ft.status"></div>
                </div>
            </div>
        </div>
    </div>
    <span ng-show="isTableEmpty()" class="empty-table">{{getEmptyTableMessage()}}</span>
</div>

<route-pagination max-items="25" max-shown="7" default-page="1" items="[25, 50, 100, 200]" total-items="total"></route-pagination>

<div id="retranslate-selected-confirmation" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-holder">
        <div class="modal-frame">
            <div class="modal-header">
                <h3>Retranslate Selected?</h3>
            </div>
            <div class="modal-body" style="padding: 10px 30px">
                <p>Are you sure? You want to retranslate selected files?</p>
                <input type="checkbox" ng-model="metadataOnly" class='checkbox'/> Metadata only

            </div>
            <div class="modal-footer">
                <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                        ng-click="retranslateSelectedPopup.hidePopup()">
                    Cancel
                </button>
                <button type="submit"
                        class="btn btn-primary main-action" ng-click="retranslateSelectedPopup.retranslate(metadataOnly)">Retranslate
                </button>
            </div>
        </div>
    </div>
</div>

<div id="retranslate-all-confirmation" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-holder">
        <div class="modal-frame">
            <div class="modal-header">
                <h3>Retranslate All?</h3>
            </div>
            <div class="modal-body" style="padding: 10px 30px">
                <p>Are you sure? You want to retranslate all files?</p>
                <input type="checkbox" ng-model="metadataOnly" class='checkbox'/> Metadata only
            </div>
            <div class="modal-footer">
                <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                        ng-click="retranslateSelectedPopup.hidePopup()">
                    Cancel
                </button>
                <button type="submit"
                        class="btn btn-primary main-action" ng-click="retranslateSelectedPopup.retranslate(metadataOnly)">Retranslate
                </button>
            </div>
        </div>
    </div>
</div>
