<div class="relative">
    <div class="dashboard-box translation-box per-experiment" resizable-table-columns="per-experiment-translation-list">
        <div class="heading clearfix">
            <div class="cell cell-check"><input type="checkbox" ng-model="allItemsSelected" ng-click="selectAll(allItemsSelected, experimentTranslations)"/></div>
            <div class="cell cell-name" sorting="experimentName" sort-by-default="asc">Experiment Name</div>
            <div class="cell cell-owner" sorting="owner">Owner</div>
            <div class="cell cell-lab" sorting="labName">Lab</div>
            <div class="cell cell-status">Translation Status</div>
        </div>
        <div class="content clearfix">
            <div class="row clearfix" ng-repeat="et in experimentTranslations">
                <div class="cell cell-check"><input type="checkbox" ng-model="et.selected" ng-disabled="et.status == 'In Progress...'"/></div>
                <div class="cell cell-name">
                    <div class="ellipsize" set-text="et.experimentName" set-title="et.experimentName"></div>
                </div>
                <div class="cell cell-owner">
                    <div class="ellipsize" set-text="'Owner: ' + et.owner" set-title="'Owner: ' + et.owner"></div>
                </div>
                <div class="cell cell-lab">
                    <div class="ellipsize" set-text="et.labName" set-title="et.labName"></div>
                </div>
                <div class="cell cell-status">
                    <div class="ellipsize" set-text="et.status" set-title="et.status"></div>
                </div>
            </div>
        </div>
    </div>
    <span ng-show="isTableEmpty()" class="empty-table">{{getEmptyTableMessage()}}</span>
</div>

<route-pagination max-items="25" max-shown="7" default-page="1" items="[25, 50, 100, 200]" total-items="total"></route-pagination>

<div id="retranslate-all-confirmation" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-holder">
        <div class="modal-frame">
            <div class="modal-header">
                <h3>Retranslate Selected?</h3>
            </div>
            <div class="modal-body" style="padding: 10px 30px">
                <p>Are you sure? You want to retranslate selected experiments?</p>

            </div>
            <div class="modal-footer">
                <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                        ng-click="retranslateSelectedPopup.hidePopup()">
                    Cancel
                </button>
                <button type="submit"
                        class="btn btn-primary main-action" ng-click="retranslateSelectedPopup.retranslate()">Retranslate
                </button>
            </div>
        </div>
    </div>
</div>
