Chorus: DataCube Download Link for #${proteinSearchId} ${proteinSearchName}
Hello, ${user}!

DateCube export is ready and could be downloaded <a href="${fileDownloadLink}" target="_blank">here</a>
Please note, that it is temporary link - it could be removed next day.

Thank you!