Chorus: Instrument Request Rejected
Hello, ${user}!

Unfortunately your request for an access to the instrument ${instrument} has been rejected by current instrument operators.

#if ($!comment != "")
Here is the rejection comment:

    ${comment}
#end

Perhaps, you may try to contact them directly and then repeat your request.

Thank you for your patience!