Chorus: Lab Creation Request Rejected
Hello!

Unfortunately your ${lab} lab creation request has been rejected by the administrators.

#if ($!comment != "")
Here is the rejection comment:

    ${comment}
#end

Perhaps, you may try to contact them directly and then repeat your request.

Thank you for your patience.