PDC Workspace: Program Creation Request
Hello, ${admin}!

Someone has just requested to create a new program. Please find the details below:

Program: ${laboratory};
Program head: ${labHead} with email ${labHeadEmail};
Requested by: ${requesterEmail};

Please feel free to login into your account and make your decision on program creation approval.

Thanks!