Chorus: Lab Membership Request Rejected
Hello, ${user}!

Unfortunately, your membership request for the ${lab} lab has been rejected by the lab head.

#if ($!comment != "")
Here is the rejection comment:

    ${comment}
#end

Perhaps, you may try to contact the lab head directly and then repeat your request.

Thank you for your patience.