Chorus:  MicroArrays Import from packages ${packageNumber} has been failed
Hello, ${user}!

Something went wrong during importing your MicroArrays experiment from the package ${packageNumber}.

#if (${errorMessage})
Error message:
    ${errorMessage}
#end
