PDC Workspace: Study Data Access Approved
Hello, ${requester}!

Your request for accessing the study data has been approved. Now the "${project}" project is shared to you.

Please feel free to download requested study data via the link:
#foreach ($link in $experimentLinks)
<a href="$link">$link</a>
#end

