Chorus: Reset Your Password
Hello, ${user}!

Someone has just requested to reset a password to your Chorus account. If that was you please follow this link to set a new password for your account:

<a href="${passwordRecoveryUrl}">${passwordRecoveryUrl}</a>

Otherwise please ignore this message.

Thank you!