Chorus: Invitation
Hello!

You have been invited to join Chorus by ${user}.
Chorus is a simple web application for storing, sharing, visualizing, and analyzing spectrometry files.

You can create your account using this link:
<a href="${projectUrl}">${projectUrl}</a>

Thank you!