<div class="center-text">
    <i class="icon drop-here-dark"></i><br/>
    <span>Drag&nbsp;&amp;&nbsp;drop files here</span>

    <div class="supported-files"> <!--If Mir extention is present you need to Add class "special-files" -->
        <!--<span>Supported file types</span>-->
        <!--<ul>-->
            <!--<li class="doc"><span>doc</span></li>-->
            <!--<li class="xls"><span>xls</span></li>-->
            <!--<li class="pdf"><span>pdf</span></li>-->
            <!--<li class="ppt"><span>ppt</span></li>-->
            <!--<li class="mir"><span>mir</span></li>-->
            <!--<li class="jpg"><span>jpg</span></li>-->
            <!--<li class="png"><span>png</span></li>-->
            <!--<li class="tiff"><span>tiff</span></li>-->
            <!--<li class="bmp"><span>bmp</span></li>-->
        <!--</ul>-->
    </div>
</div>