<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <import resource="classpath*:services.cfg.xml"/>
    <import resource="classpath*:mysql.cfg.xml"/>

    <bean class="com.infoclinika.mssharing.blog.BlogModule">
        <constructor-arg value="mysql.cfg.xml"/>
    </bean>

    <bean id="searcher" class="com.infoclinika.mssharing.search.SearcherImpl"/>
    <bean id="projectAttachmentsUploadHelper"
          class="com.infoclinika.mssharing.platform.web.uploader.ProjectAttachmentsUploadHelper"/>
    <bean id="experimentAttachmentsUploadHelper"
          class="com.infoclinika.mssharing.platform.web.uploader.ExperimentAttachmentsUploadHelper"/>
    <bean id="validator"
          class="com.infoclinika.mssharing.model.internal.RuleValidatorImpl"/>

    <!-- Configure the multipart resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes is 10GiB-->
        <property name="maxUploadSize" value="10000000000"/>
    </bean>
</beans>
