<div>
    <div>
        <p>The selected files will be put into the archive. It allows to reduce the storage costs. However, the file download are not immediate in this case,
            since it takes several hours to get the data from archive. Also you won't be able to translate the files while they are archived.</p>
            <!--<p><strong>NOTE:</strong> After that no new Protein ID searches or charts can be run for these files and experiments.</p>-->
    </div>
    <div ng-show="!options.model.allAvailableToArchive">
        <div>
            <p>Archive operation is not available for all selected files. </p>
        </div>
        <p>Possible reasons: </p>
        <ul>
            <li>Some of the selected files are already archived</li>
            <li>Some of the selected files are used in experiments</li>
            <li>Some of the selected files are moving on Archive Storage now</li>
            <li>For the some selected files laboratory Archiving feature was disabled</li>
        </ul>
    </div>
</div>