<div>
    <div>
        <p>The translation data of the selected files will be deleted permanently.
            After this operation You won't be able to create searches and view charts of these files.</p>
        <!--<p><strong>NOTE:</strong> After that no new Protein ID searches or charts can be run for these files and experiments.</p>-->
    </div>
    <div ng-show="!options.model.allAvailableToDelete">
        <div>
            <p>Delete translation data is not available for all selected files. </p>
        </div>
        <p>Possible reasons: </p>
        <ul>
            <li>You are not owner of the some selected files</li>
            <li>Some of the selected files are used in experiments analysis</li>
            <li>The translation data of the some selected files are already deleted</li>
        </ul>
        However, you can delete allowed files in selected.
    </div>
</div>