<div>
    <div>
        <p>Are you sure you want to re-translate selected files?</p>
        <p>
        <div ng-show="options.model.isUserOperatorOfAllFiles == false">
        <label for="labSelector">Translation content will be available and charged for Lab:</label>
            <select ui-select2 ng-model="options.model.selectedLab"
                    id="labSelector" class="dialog-select">
                <option value="{{lab.id}}" ng-repeat="lab in options.model.availableLabs">
                    {{lab.name}}
                </option>
            </select>
        </div>
    </div>
</div>