<div>
    <p>Not all of the selected files have been translated successfully
        <span ng-show="options.model.haveArchivedFiles">&nbsp;or some of the selected files is archived</span>.</p>

    <p>
        <label for="labSelector">Translation content will be available and charged for Lab:</label>
        <div ng-show="options.model.availableLabs.length>1">
            <select ui-select2 ng-model="options.model.selectedLab"
                    ng-disabled="options.model.availableLabs.length==1"
                    id="labSelector" class="dialog-select">
                <option value="{{lab.id}}" ng-repeat="lab in options.model.availableLabs">
                    {{lab.name}}
                </option>
            </select>
        </div>
        <div ng-show="options.model.availableLabs.length==1" class="static-value" style="clear:both; padding: 0"
             ng-bind="options.model.availableLabs[0].name"></div>
    </p>
</div>