<div>
    <div ng-show="options.type == 'dialog'">
        <p>Cannot delete all selected files</p>
    </div>
    <div  ng-show="options.type == 'info'">
        <p>Delete operation is not available for selected files</p>
    </div>
    <p>Possible reasons: </p>
    <ul>
       <li>Some of the selected files are shared or public</li>
       <li>Some of the selected files are used in experiments</li>
       <li>Some of the selected files are not fully uploaded</li>
    </ul>
    <p ng-show="options.type == 'dialog'">However, you can delete allowed files in selected.</p>
</div>