<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Chorus Tests" verbose="1">

    <test name="Login">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.login.Login"/>
        </classes>
    </test>
    <test name="Registration">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.registration.Registration"/>
        </classes>
    </test>
    <test name="Forgot Password">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.forgotpassword.ForgotPassword"/>
        </classes>
    </test>
    <test name="Laboratory Creation Request">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.laboratorycreation.LaboratoryCreationRequest"/>
        </classes>
    </test>
    <test name="Projects">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.projecttest.Project"/>
        </classes>
    </test>
    <test name="Experiments">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.experiment.Experiment"/>
        </classes>
    </test>
    <test name="Instruments">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.instrument.Instrument"/>
        </classes>
    </test>
    <test name="Sharing Groups">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.sharinggroup.SharingGroup"/>
        </classes>
    </test>
    <test name="My Profile">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.myprofile.MyProfile"/>
        </classes>
    </test>
    <test name="Upload Files">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.uploadfiles.UploadFiles"/>
        </classes>
    </test>
    <test name="News">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.news.News"/>
        </classes>
    </test>
    <test name="Search">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.search.Search"/>
        </classes>
    </test>
    <test name="Files">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.files.Files"/>
        </classes>
    </test>
    <test name="NewUserTest">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.NewUserTests"/>
        </classes>
    </test>
    <test name="Blog">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.blog.Blog"/>
        </classes>
    </test>
    <test name="Passed Project Copy">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.PassedProjectCopy"/>
        </classes>
    </test>
    <test name="Billing Feature Tests">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.billing.BillingFeature"/>
        </classes>
    </test>
    <test name="ShotGun Protein ID Search">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.ShotGunSearch"/>
        </classes>
    </test>
    <test name="DMS Protein ID Search">
        <classes>
            <class name="com.infoclinika.mssharing.integration.test.test.DMSSearch"/>
        </classes>
    </test>
</suite>