<form id="loginForm" class="sign-in well-large" novalidate action="../j_spring_security_check"  method="POST" name="loginForm" >
    <h2>Forgot Password</h2>
    <div class="alert-message">
        <div class="success-message hidden" ng-show="loginResult.successMessage.length > 0">
            {{ loginResult.successMessage }}
        </div>
        <div class="login-error-message" ng-show="loginResult.errorMessage.length > 0">
            {{loginResult.errorMessage}}
        </div>
    </div>

    <div class="credentials-group" ng-show="!instructionsSend">
        <div class="control-group">
            <label class="control-label" for="forgotPasswordEmail">Email</label>
            <input id="forgotPasswordEmail" type="email" ui-keypress="{enter: 'vm.sendInstructions($event)'}" class="dialog-text-input dont-hide ng-valid-email"/>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="main-action" id="send-instructions" ng-click="vm.sendInstructions($event)" ng-hide="instructionsSend">Send Instructions</button>
        <button type="button" class="main-action" ng-click="vm.redirectToLoginPage()" ng-show="instructionsSend">Back to Login Page</button>
    </div>
</form>
