<div id="issue-reporter" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-holder">
        <div class="modal-frame">
            <form name="issueReportForm">
                <div class="modal-header">
                    <a data-dismiss="modal" class="close" id="createProjectClose" href="">&nbsp;</a>
                    <h3>Report an Issue</h3>
                </div>
                <div class="modal-body">
                    <div class="dialog-container">
                        <div id="report-form">
                            <div class="control-group">
                                <label class="control-label" for="issue-title">Title</label>
                                <input class="dialog-text-input dont-hide" name="title" type="text" id="issue-title"
                                       ng-model="reporter.title" required>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="issue-contents">Issue Description</label>
                                <textarea name="contents" class="input-xlarge dialog-text-area" rows="4"
                                          id="issue-contents" ng-model="reporter.contents"
                                          required></textarea>
                            </div>
                            <div class="control-group">
                                <label class="control-label optional" for="issue-steps">Steps to Reproduce&nbsp;<span
                                        class="optional-string">(optional)</span></label>
                                <textarea name="contents" id="issue-steps" class="input-xlarge dialog-text-area"
                                          rows="2"></textarea>
                            </div>
                        </div>

                        <div id="report-successful-container">
                            <div class="control-group">
                                <p>Your feedback has been posted to the development team and will be processed as soon as possible.</p>
                                <p>We appreciate your input on the Beta stage of our project!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="report-form-buttons">
                        <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                                ng-click="reporter.hidePopup()">
                            Cancel
                        </button>
                        <button type="submit" ng-disabled="issueReportForm.$invalid"
                                class="btn btn-primary main-action" id="confirmRefuseButton"
                                ng-click="reporter.reportIssue()">Submit
                        </button>
                    </div>
                    <div id="report-successful-buttons">
                        <button class="btn  secondary-action" data-dismiss="modal" aria-hidden="true"
                                ng-click="reporter.hidePopup()">
                            OK
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>