<div class="user-details-dialog"   modal-dialog>
<div class="modal-holder">
<div class="modal-frame">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
        <h3 ng-bind='page.form.title'></h3>
    </div>

        <ul id="detailsTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#general" data-target="#general" data-toggle="tab" ng-click="generalTab = true">General
                    <span data-ng-class="{'tab-error': ssoProperties.enabled == false && (!account.firstName || !account.lastName)}"></span>
                </a>
            </li>
            <li ng-show="ssoProperties.enabled == false">
                <a href="#changePassword" data-target="#changePassword" data-toggle="tab" ng-click="passwordTab = true">Change Password
                    <span data-ng-class="{'tab-error': formToChangePass.oldPassword.$error.inputValidator || changePasswordError.old || (formToChangePass.$dirty && passwordTab)}"></span>
                </a>
            </li>
            <li ng-show="ssoProperties.enabled == false">
                <a href="#changeEmail" data-target="#changeEmail" data-toggle="tab" ng-click="emailTab = true">Change Email
                    <span data-ng-class="{'tab-error': !isNewEmailValid() && isEmailFormDirty()}"></span>
                </a>
            </li>
        </ul>

        <div class="processingRunDetails control-group clearfix tab-content">
            <div class="tab-pane fade active in" id="general">
                <form name="form" novalidate>

                    <div class="clearfix" ng-show="ssoProperties.enabled == false">
                        <div class="control-group half-col" ng-class="{error: ssoProperties.enabled == false && !form.firstName.$valid && (form.firstName.$dirty || (form.firstName.$pristine && buttonPressed)) }">
                            <label class="control-label" for="firstName">First Name <span class="error-message">is required</span></label>
                            <div class="controls">
                                <input id="firstName" type="text" name="firstName" class="dialog-text-input dont-hide" ng-model="account.firstName" />
                            </div>
                        </div>

                        <div class="control-group half-col" ng-class="{error: ssoProperties.enabled == false && !form.lastName.$valid && (form.lastName.$dirty || (form.lastName.$pristine && buttonPressed)) }">
                            <label class="control-label" for="lastName">Last Name <span class="error-message">is required</span></label>
                            <input id="lastName" name="lastName" type="text" class="dialog-text-input dont-hide" ng-model="account.lastName"/>
                        </div>
                    </div>
                    <div class="control-group laboratorySelector last-form-group">
                        <label class="control-label optional">Laboratory&nbsp;<span class="optional-string">(optional)</span></label>
                        <laboratory-selector laboratories="allLabs" selected-laboratories="account.selectedLaboratories" undeletable-laboratories='account.alreadyAddedLaboratories'
                                             pending-labs='pendingLabs' removal-laboratories="account.removalLaboratories"></laboratory-selector>
                    </div>
                    <div class="modal-footer">
                        <button class="btn secondary-action" data-dismiss="modal" ng-show="page.form.editProfileMode">Cancel</button>
                        <button class="btn main-action" ng-disabled="form.$invalid"
                                ng-click="save(form.$invalid)" ng-bind='page.form.saveButtonTitle'>Create</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="changePassword">
                <form name="formToChangePass" novalidate class="last-form-group">
                    <div class="control-group"  data-ng-class="{error: formToChangePass.oldPassword.$error.inputValidator || changePasswordError.old}">
                        <label class="control-label" for="oldPassword">
                            Old password
                            <span class="error-message" ng-hide="changePasswordError.old">is required</span>
                            <span class="error-message hidden" ng-show="changePasswordError.old">is not correct</span>
                        </label>
                        <input id="oldPassword" name="oldPassword" type="password" class="dialog-text-input dont-hide" ng-model="changePass.oldPassword" input-validator required/>

                    </div>
                    <div class="control-group"
                         ng-class="{error: formToChangePass.password.$error.inputValidator || changePasswordError.new || formToChangePass.password.$error.passwordStrength || formToChangePass.password.$error.passwordBlackList}">
                        <label class="control-label" for="password">
                            New password <span class="error-message" ng-show="!changePass.newPassword">is required</span>
                            <span class="error-message" ng-show="changePasswordError.new">should not be same as old password</span></label>
                        <span class="error-message" ng-show="!formToChangePass.password.$error.inputValidator && formToChangePass.password.$error.passwordStrength">
                                doesnt' meet requirements
                                <i class="icon validation-message-warning" title="Should be at least 8 characters long.&#10;Must contain both letters and digits."></i>
                        </span>
                        <span class="error-message" ng-show="!formToChangePass.password.$error.passwordStrength && formToChangePass.password.$error.passwordBlackList">is in black list</span></label>
                        <input id="password" name="password" type="password"
                               class="dialog-text-input dont-hide"
                               ng-model="changePass.newPassword" input-validator required password-strength password-black-list/>

                    </div>
                    <div class="control-group" data-ng-class="{error:  (formToChangePass.confirmPassword.$error.likeAs && formToChangePass.confirmPassword.$dirty) || formToChangePass.confirmPassword.$error.inputValidator}">
                        <label class="control-label" for="confirmPassword">Confirm new password
                            <span class="error-message" ng-show="confirmPassword && formToChangePass.confirmPassword.$error.likeAs">and password don't match</span>
                            <span class="error-message" ng-show="!confirmPassword">is required</span></label>
                        <input id="confirmPassword" name="confirmPassword" type="password" ng-model="confirmPassword" class="dialog-text-input dont-hide" like-as="changePass.newPassword" input-validator required/>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn secondary-action" data-dismiss="modal">Cancel</button>
                    <button class="btn main-action" ng-disabled="formToChangePass.$invalid || newPasswordInvalid"
                            ng-click="changePassword(formToChangePass.$valid || !newPasswordInvalid)">Change Password</button>
                </div>
            </div>
            <div class="tab-pane fade" id="changeEmail">
                <div ng-switch="emailRequestSent">
                    <div ng-switch-when="false">
                        <form ng-init="initDirtyChecking()" name="formToChangeEmail" novalidate class="email-change-form last-form-group">
                            <div class="control-group" data-ng-class="{
                              error: !isEmailAvailable || (!isEmail(changeEmail.email) && formToChangeEmail.email.$dirty) || formToChangeEmail.email.$error.inputValidator,
                              warning: !isEmailInstitutional(changeEmail.email)
                              }">
                                <label class="control-label" for="email">New email
                                    <span class="error-message" ng-show="!isEmailAvailable">is already registered</span>
                                    <span class="error-message" ng-show="isEmailAvailable && changeEmail.email && !isEmail(changeEmail.email)">is invalid</span>
                                    <span class="error-message" ng-show="!changeEmail.email">is required</span>
                                    <span class="error-message warning-message" ng-show="!isEmailInstitutional(changeEmail.email)">is not belongs to the institution</span>
                                </label>
                                <input id="email" type="text" name="email" class="dialog-text-input dont-hide" ng-model="changeEmail.email" input-validator="" required/>
                            </div>

                            <div class="control-group" data-ng-class="{error: (changeEmail.email && formToChangeEmail.confirmEmail.$error.likeAs && formToChangeEmail.confirmEmail.$dirty) || formToChangeEmail.confirmEmail.$error.inputValidator}">
                                <label class="control-label" for="confirmEmail">Confirm new email
                                    <span class="error-message" ng-show='changeEmail.email && formToChangeEmail.confirmEmail.$error.likeAs && !formToChangeEmail.confirmEmail.$error.inputValidator'>and email addresses should match</span>
                                    <span class="error-message" ng-show='formToChangeEmail.confirmEmail.$error.inputValidator'>is required</span>
                                </label>
                                <input id="confirmEmail" name="confirmEmail" ng-model="changeEmail.confirmEmail" type="text" class="dialog-text-input dont-hide" like-as="changeEmail.email" input-validator required/>
                            </div>
                        </form>
                    </div>
                    <div ng-switch-when="true">
                        <div class="modal-body">
                            <p>Confirmation email sent to <span ng-bind="emailRequest.newEmail"></span>. Please follow the link from the email to complete the email changing procedure.</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" ng-class="{'change-email-confirm-popup': showCancelConfirm}">
                    <div ng-show="showCancelConfirm">
                        <span>Are you sure you want to cancel email changing procedure?</span>
                        <button class="btn secondary-action" ng-click="showCancelConfirm = false">No</button>
                        <button class="btn btn-primary main-action" ng-click="showCancelConfirm = false; cancelEmailRequest();">Yes</button>
                    </div>

                    <div ng-show="!showCancelConfirm">
                        <button class="btn secondary-action" data-dismiss="modal">Cancel</button>
                        <button ng-show="!emailRequestSent" class="btn main-action" ng-disabled="formToChangeEmail.$invalid || !isNewEmailValid()"
                                ng-click="onChangeEmail()">Change Email</button>
                        <button ng-show="emailRequestSent" class="btn secondary-action" ng-click="showCancelConfirm = true">Cancel</button>
                        <button ng-show="emailRequestSent" class="btn main-action" ng-click="sendConfirmation()">Resend confirmation</button>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
</div>
