<div class="search-message clearfix">
    <div class="contact-info">
        <p><span class="icon email"></span><strong><a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#099;&#104;&#111;&#114;&#117;&#115;&#112;&#114;&#111;&#106;&#101;&#099;&#116;&#046;&#111;&#114;&#103;">support@chorusproject.org</a></strong></p>
    </div>
    <p>Search Results for &quot;<strong ng-bind="lastSearchQuery"></strong>&quot;</p>
    <a href="#/questions" class="close">&nbsp;</a>
</div>

<div class="video-results" ng-show="results.videos.length > 0">
    <h3>Videos</h3>
    <ul class="search-results">
       <li ng-repeat="videoItem in results.videos">
           <h3>
               <span ng-click="toggleOpened($event)" class="title" ng-bind="videoItem.video.title"></span>
               <em class="arrow"></em>
           </h3>
           <div class="hide">
               <div class="how-box clearfix">
                   <div class="text">
                       <div class="item">
                           <a title="{{videoItem.video.title}}" ng-click="showVideo($index)">
                               <img src="{{videoItem.video.thumbnail.hqDefault}}" alt="videoItem.video.title" />
                               <span class="btn-play">Play it</span>
                               <span class="title" ng-bind="videoItem.video.title"></span>
                               <span class="overlay"></span>
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </li>
    </ul>
</div>

<div class="faq-results" ng-show="results.faqs.length > 0">
    <h3>FAQ</h3>
    <ul class="search-results">
        <li ng-repeat="faq in results.faqs">
            <h3 ng-click="toggleOpened($event)"><span  class="title" ng-bind="faq.title"></span><em class="arrow"></em></h3>
            <div class="hide">
                <p ng-bind="faq.content"></p>
            </div>
        </li>
    </ul>
</div>

<!--<div ng-show="results.documentation.length > 0">
    <h3>Documentation</h3>
    <ul class="search-results">
        <li ng-repeat="doc in results.documentation">
            <h3 style="max-resolution: 5;"><span ng-click="toggleOpened($event)" class="title" ng-bind="doc.title"></span><em class="arrow"></em></h3>
            <div class="hide">
                <p ng-bind="doc.content"></p>
            </div>
        </li>
    </ul>
</div>-->

<h3 class="no-found" ng-show="results.videos.length == 0 && results.faqs.length == 0 && results.documentation.length == 0">Nothing found</h3>
<div ng-show="forumProperties.enabled && (results.videos.length != 0 || results.faqs.length != 0 || results.documentation.length != 0)">
    <h3>Still have questions?</h3>
    <p>
        <a href="{{forumProperties.url}}">Post to our on-line forum questions</a> and we'll get back to you as soon as we can.</p>
</div>
