${projectTitle}: Lab Creation Request
Hello, ${admin}!

Someone has just requested to create a new laboratory. Please find the details below:

Laboratory: ${laboratory};
Lab head: ${labHead} with email ${labHeadEmail};
Requested by: ${requesterEmail};

Please feel free to login into your account and make your decision on lab creation approval.

Thanks!