${projectTitle}: Experiment Data Access Rejected
Hello, ${requester}!

Unfortunately your request to access the experiment in the private project "${project}" has been rejected.

Here is the rejection comment:

${comment}

Thank you for your patience.