${projectTitle}: Project Access Revoked
Hello, ${user}!

Please be informed that the onwer of the ${project} project has just revoked your access rights. It means that unfortunately you will no longer be able to access this project data.

Thank you!