${projectTitle}: Error Processing Instrument Request
Hello, ${user}!

Please be informed that your decision on accessing ${requester} to ${instrument} instrument couldn't be applied. Someone else has already made a decision on this matter before you.

Thank you!