<!DOCTYPE html>
<html ng-app="request-download-experiment-front">
<head>
    <meta charset="utf-8"/>
    <title>Chorus - Request Access To Experiment</title>
    <!-- FavIcon -->
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>

    <script type="text/javascript" src="../script/util/logging.js"></script>

    <script src="../lib/jquery/jquery-1.8.2.min.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../lib/detect-js/detect.js"></script>

    <script type="text/javascript" src="../lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../lib/angularjs/angular-resource.min.js"></script>
    <script type="text/javascript" src="../lib/angular-ui/angular-ui.min.js"></script>
    <script type="text/javascript" src="../script/error-catcher.js"></script>
    <script type="text/javascript" src="../script/enums.js"></script>
    <script type="text/javascript"
            src="../script/service/security-back.js?_version=${static.resources.version}"></script>
    <script type="text/javascript"
            src="../script/service/features-back.js?_version=${static.resources.version}"></script>
    <script type="text/javascript"
            src="../script/controller/security-front.js?_version=${static.resources.version}"></script>
    <script type="text/javascript" src="../script/service/issues-back.js"></script>

    <script type="text/javascript" src="../script/controller/request-download-experiment.js"></script>
    <script type="text/javascript" src="../script/service/request-download-experiment-back.js"></script>
    <script type="text/javascript" src="../script/util/url-util.js"></script>
    <script type="text/javascript" src="../script/components/current-year.directive.js"></script>

    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../fonts/fonts.css">

    <!-- Our Styles -->
    <!--[if gte IE 9] its for gradients in select tags>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
    <link rel="stylesheet" href="../css/dialogs.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="static-page" ng-controller="requestExperimentAccess">
<div class="fixed-area">
    <div class="ng-include: 'header.html'"></div>
</div>
<div class="main-content">
    <div class="content-box clearfix">
        <div class="center-frame">
            <div class="section clearfix">
                <div class="text request-an-access">
                    <div class="position">
                        <h4><i class="icon warning-dialog-header"></i>You don't have required permissions to download this experiment.</h4>
                    </div>
                    <div ng-show="downloadExperimentLinks.length == 0">
                        <p>You can request an access to download this experiment.</p>

                        <div style="float: left;" class="inline-footer">
                            <button class="btn btn-primary main-action" ng-click="requestAccess()">
                                Request Access
                            </button>
                        </div>
                    </div>
                    <div ng-show="downloadExperimentLinks.length != 0">
                        <p>You have already requested an access to be able to download this experiment.<br/>
                            The decision has not been made yet. You will be notified once the project owner comes up with one.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="request-access-dialog" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-holder">
        <div class="modal-frame">
                <div class="modal-header">
                    <h3 ng-show="!filterEditMode">Request Sent</h3>
                </div>

                <div class="modal-body">
                    <div class="dialog-container">
                        You will be notified upon request approval or rejection.
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn main-action" ng-click="goToDashboard()">
                        Go To Dashboard
                    </button>
                </div>
        </div>
    </div>
</div>

<div class="ng-include: 'footer.html'"></div>
</body>
</html>
