<!DOCTYPE html>
<html ng-app="login" class="texture">
<head>
    <title>PDC Workspace&nbsp;&ndash;&nbsp;Reset Password</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon"/>

    <script type="text/javascript" src="../script/util/logging.js"></script>

    <script src="../lib/jquery/jquery-1.8.2.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="../lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../lib/angularjs/angular-resource.min.js"></script>
    <script type="text/javascript" src="../lib/angular-ui/angular-ui.min.js"></script>
    <link rel="stylesheet" href="../lib/angular-ui/angular-ui.min.css">

    <script type="text/javascript" src="../lib/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../lib/detect-js/detect.js"></script>

    <script type="text/javascript" src="../script/enums.js"></script>
    <script type="text/javascript" src="../script/error-catcher.js"></script>
    <script type="text/javascript" src="../script/service/security-back.js"></script>
    <script type="text/javascript" src="../script/service/features-back.js?_version=${static.resources.version}"></script>
    <script type="text/javascript" src="../script/controller/security-front.js"></script>
    <script type="text/javascript" src="../script/service/issues-back.js"></script>
    <script type="text/javascript" src="../script/validators.js"></script>
    <script type="text/javascript" src="../script/components/current-year.directive.js"></script>
    <script type="text/javascript" src="../script/appearance/appearance.js"></script>
    <script type="text/javascript" src="../script/appearance/appearance.service.js"></script>
    <script type="text/javascript" src="../script/header/header.js"></script>
    <script type="text/javascript" src="../script/header/header.controller.js"></script>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../fonts/fonts.css">

    <link rel="stylesheet" href="../css/validation.css">
    <link rel="stylesheet" href="../css/dialogs.css">
    <link rel="stylesheet" href="../css/login-register-common.css">
    <link rel="stylesheet" href="../css/register.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124894982-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-124894982-1');
    </script>
</head>

<body ng-controller="reset-password" >
    <div class="fixed-area">
        <div ng-init="activePage = 'dashboard'; showAccountArea = false;" class="ng-include: 'header.html'"></div>
    </div>
    <div class="row-fluid introBox">
        <div class="well well-large center-form">
            <form name="form" novalidate class="reset-password" >
                <h2>Reset Password</h2>
                <div class="control-group error"  ng-show="errorMacMessage">
                    {{errorMacMessage}}
                </div>
                <div class="control-group" data-ng-class="{error: form.password.$error.inputValidator || form.password.$error.passwordStrength || form.password.$error.passwordBlackList}">
                    <label class="control-label" for="password">New password
                        <span class="error-message" ng-show="form.password.$error.inputValidator">is required</span>
                        <span class="error-message" ng-show="!form.password.$error.inputValidator && form.password.$error.passwordStrength">
                            doesnt' meet requirements
                            <i class="icon validation-message-warning" title="Should be at least 8 characters long.&#10;Must contain both letters and digits."></i>
                        </span>
                        <span class="error-message" ng-show="!form.password.$error.passwordStrength && form.password.$error.passwordBlackList">is in black list</span></label>
                    </label>
                    <input id="password" name="password" type="password" class="dialog-text-input dont-hide"
                           ng-model="password" required input-validator password-strength password-black-list/>
                </div>

                <div class="control-group" data-ng-class="{error: (form.confirmPassword.$error.likeAs && form.confirmPassword.$dirty) || form.confirmPassword.$error.inputValidator}">
                    <label class="control-label" for="confirmPassword">Confirm new password
                        <span class="error-message" ng-show="form.confirmPassword.$error.likeAs && !form.confirmPassword.$error.inputValidator">and password don't match</span>
                        <span class="error-message" ng-show="form.confirmPassword.$error.inputValidator">is required</span></label>
                    </label>
                    <input id="confirmPassword" name="confirmPassword" like-as="password" ng-model="confirmPassword"
                           type="password" class="dialog-text-input dont-hide" input-validator required/>
                </div>

                <div class="modal-footer">
                    <button class="btn main-action" ng-disabled="errorMacMessage || (form.$invalid || resettingPassword)"
                            ng-click="reset()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
