<div class="subscription-dialog" modal-dialog>
    <div class="modal-holder">
        <div class="modal-frame">
            <form name="subscriptionForm" novalidate>

                <div class="modal-header">
                    <a class='close' data-dismiss='modal'>&nbsp;</a>
                    <h3 id="createProjectLabel">Processing</h3>
                </div>
                <div class="modal-body">
                    <div class="step-headers">
                        <div class="steps-line"></div>
                        <div class="step-holder steps-count-7" ng-class="{active: step == 1}">
                            <div class="number">1</div>
                            <div class="title">Processing Properties</div>
                        </div>
                        <div class="step-holder steps-count-7" ng-class="{active: step == 2}">
                            <div class="number">2</div>
                            <div class="title">Confirm</div>
                        </div>
                    </div>

                    <div class="dialog-container">


                        <!-- subscription details for FREE account type-->


                        <!-- subscription details for ENTERPRISE account type-->
                        <div>
                            <div ng-show="step==1" style="position:relative;">
                                <div class="step-description">
                                    <i class="icon details"></i>
                                    <label>
                                        Specify Processing Properties
                                    </label>
                                </div>
                                <div class="field-row clearfix">
                                    <div class="field-title">
                                        <label>Enable Processing</label>
                                    </div>
                                    <div class="field-value">
                                        <input class="checkbox" type="checkbox"
                                               ng-model="details.processingEnabled"
                                               ng-disabled="!canChangeProcessing"
                                               ng-change="onProcessingEnabledChanged(details.processingEnabled)"
                                                >
                                    </div>
                                    <div class="field-title"
                                         ng-class="{'disabled': !details.processingEnabled}">
                                        <label>Autoprolongate Processing</label>
                                    </div>
                                    <div class="field-value">
                                        <input class="checkbox" type="checkbox"
                                               ng-class="{'disabled': !details.processingEnabled}"
                                               ng-disabled="!details.processingEnabled"
                                               ng-model="details.autoprolongateProcessing"
                                                >
                                    </div>
                                </div>
                            </div>
                            <div ng-show="step==2" style="position:relative;">
                                <div class="step-description">
                                    <i class="icon details"></i>
                                    <label>
                                        Verify plan details.
                                    </label>
                                </div>
                                <table class="table read-only">
                                    <colgroup>
                                        <col class="prop-name">
                                        <col class="prop-value">
                                    </colgroup>
                                    <thead>
                                    <th>Feature</th>
                                    <th>Value</th>
                                    <th>Cost (per month)</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><label>Processing</label></td>
                                        <td><span ng-bind="getProcessingFormattedInfo()"></span></td>
                                        <td ng-show="details.processingEnabled" ng-bind="processingFeaturePrice | price"></td>
                                        <td ng-hide="details.processingEnabled">-</td>
                                    </tr>
                                    <tr>
                                        <td><label>Autoprolongate Processing</label></td>
                                        <td><span ng-bind="getProcessingProlongationFormattedInfo()"></span></td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><span >Total:</span></td>
                                        <td ng-bind="getTotalPrice() | price"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn secondary-action" data-dismiss="modal">Cancel</button>
                    <button class="btn secondary-action back" ng-show="step > 1" ng-click="back()">Back<span class="left-tail"></span></button>
                    <button class="btn main-action next" ng-show="step < 2" ng-click="next()">Next<span class="right-tail"></span></button>
                    <button class="btn btn-primary main-action"  ng-show="step == 2" ng-click="save()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>